name: .NET Build Workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v5.0.1
        with:
          dotnet-version: '7.0.x'

      - name: Restore dependencies
        run: dotnet restore ./UPS_Assessment/Assessment.sln

      - name: Build the project
        run: dotnet build ./UPS_Assessment/Assessment.sln --no-restore --configuration Release

      - name: Run tests
        run: dotnet test ./UPS_Assessment/Assessment.sln --no-build --verbosity normal
